#pages {
    > * {
      display: none;
    }
  
    > .active {
      display: block;
    }
  }
  
  .home-widget {
    transform: opacity 500ms;
  
    &.loading {
      opacity: 0.25;
    }
  }

.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
  }
 
  .home-tiles {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;

  
}

.home-tile {
    position: relative;
    height: 120px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    background-size: cover;
    background-position: center;

    &:nth-child(3) {
      grid-column: 1 / -1;
      background-color: $color-main;
    }

    .tile-content {

      transition: 0.4s ease;

      h3 {
        margin: 0;
        font-family: $font-header;
        text-transform: uppercase;
        transform: translateY(20px);
        transition: 0.4s ease;
      
      }

      p {

        margin: 5px 0 0 0;
        font-size: 0.8rem;
        opacity: 0;
        transform: translateY(40px);
        transition: 0.4s ease;

      }

    }

    &:hover .tile-content {

      h3 {
        transform: translateY(-15px);
    
      }

      p {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.always-visible .tile-content {

      h3 {
        transform: translateY(0) !important; 
        
      }

      p {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }